body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: lightblue;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.favorites {
    margin-top: 20px;

}

img {
    width: 200px;
}

dt, p {
    font-weight: bold;
}

dd {
    margin-bottom: 20px;
}